---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<div style="text-align: center;">
  <span style="font-weight: bold; font-size: larger;">Curriculum vitae</span>
</div>

<style>
  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Puedes ajustar el tamaño según sea necesario */
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
  }
</style>

<div>
  <img class="centered-image" src="https://github.com/miangoar/miangoar.github.io/raw/master/images/gama_gama.png" alt="gama">
</div>

<div style="text-align: center;">
  <p>Here you can download my <a href="https://miangoar.github.io/files/Curriculum_vitae_Gonzalez_Arias_Miguel_Angel.pdf"> CV in PDF format</a>.</p>
</div>


<div style="text-align: center;">
  <span style="font-weight: bold; font-size: larger;">Contact</span>
</div>

<div style="text-align: center;">
  <p>e-mail: gamamiguelangel@gmail.com</p>
  <p>Twitter: <a href="https://twitter.com/miangoar"> @miangoar</a></p>
</div>


<div style="text-align: center;">
  <span style="font-weight: bold; font-size: larger;">About me</span>
</div>


<div>
  <p><span>👋</span> I'm Miguel Angel (AKA GAMA), I was born in Mexico and currently live in the State of Mexico. </p>
</div>
<div>
  <p><span>🎓</span>  I am a biologist by the Faculty of Sciences and I hold a master's degree in Biochemical Sciences focused on bioinformatics by the Institute of Biotechnology, both institutions are part of the National Autonomous University of Mexico </p>
</div>
<div>
  <p><span>🔬</span> I have experience in Microbial ecology, genome mining, phylogenomics, protein science, high-performance computing, data science and visualization, machine learning and Deep learning </p>
</div>
<div>
  <p><span>🧠</span> I am passionate about learning new things and sharing what I have learned in order to simplify things and save time</p>
</div>
<div>
  <p><span>👻</span> Other interests: computing and hardware, gastronomy, economics/markets, musical culture (especially Death metal and neoclassical piano) and (cosmic) horror </p>
</div>






{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}



