---
layout: archive
title: "¿Quién soy yo?"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<style>
  .circle-image {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
</style>

<div class="circle-image">
  <img src="https://github.com/miangoar/miangoar.github.io/raw/master/images/gama_gama.png" alt="Gama Gama">
</div>

<div>
  <p><span>🇲🇽</span> Nací en México y actualmente resido en el Estado de México. </p>
</div>
<div>
  <p><span>🎓</span>  Soy biólogo por la Facultad de Ciencias (UNAM) y actualmente me encuentro terminando la maestría en Ciencias Bioquímicas con especialización en bioinformática en el Instituto de Biotecnología (UNAM) </p>
</div>
<div>
  <p><span>🔬</span> Me interesan varias ramas de investigación: Ecología microbiana,  Filogenómica, Ciencia de proteínas, Lingüística, Ciencia de datos, Machine learning y Deep learning </p>
</div>
<div>
  <p><span>🤔</span> Encuentro mi principal motivación en aprender cosas nuevas, compartir lo que he aprendido y conocer nuevas personas con intereses similares.  Fuera de la ciencia, me interesan múltiples cosas: gastronomía, economía/mercados, musical (principalmente Death metal y piano neoclásico), el terror (con tintes de horror cósmico) </p>
</div>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


