{% include base_path %}

{% if borrame.header.teaser %}
  {% capture teaser %}{{ borrame.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if borrame.id %}
  {% assign title = borrame.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = borrame.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if borrame.link %}
        <a href="{{ borrame.link }}">{{ title }}</a> <a href="{{ base_path }}{{ borrame.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ borrame.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if borrame.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if borrame.collection == 'teaching' %}
          <p> {{ borrame.type }}, <i>{{ borrame.venue }}</i>, {{ borrame.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif borrame.collection == 'publications' %}
          <p>Published in <i>{{ borrame.venue }}</i>, {{ borrame.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif borrame.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ borrame.date | default: "1900-01-01" | date_to_xmlschema }}">{{ borrame.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if borrame.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ borrame.excerpt | markdownify }}</p>
    {% elsif borrame.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ borrame.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ borrame.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if borrame.citation and borrame.paperurl %}
      <p>Recommended citation: {{ borrame.citation }} <a href="{{ borrame.paperurl }}"><u>{{ borrame.paperurl }}</u></a></p>
    {% elsif borrame.citation %}
      <p>Recommended citation: {{ borrame.citation }} </p>
    {% elsif borrame.paperurl %}
      <p>Download <a href=" {{ borrame.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
